* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --azul: #093B5E;
  --azul-claro: #1A5C8A;
  --azul-escuro: #06314E;
  --azul-meio: #083A55;
  --amarelo: #FFC72C;
  --amarelo-escuro: #FFB703;
  --laranja: #FB8500;
  --branco: #FFFFFF;
  --cinza-branco: #DAE2E7;
  --preto: #000000;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cinza-branco);
  color: var(--preto);
}


.nav-bar {
  width: 100%;
  margin-bottom: 2rem;
}

.top-bar {
  background-color: var(--azul);
  height: 7rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 7.5rem;
  width: auto;
  max-width: 100%;
  transform: none;
  margin-top: 0.2rem;
}

.nav-bar {
  background-color: var(--azul-claro);
  height: 3.5rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  gap: 2rem;
}

.nav-bar a {
  color: var(--amarelo);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.nav-bar a:hover {
  text-decoration: underline;
}

h2, h3 {
  font-family: 'Archivo', sans-serif;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: var(--cinza-branco);
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}

.intro-text {
  max-width: 50%;
  min-width: 280px;
  flex: 1;
}

.intro-text h2 {
  color: var(--amarelo-escuro);
  margin-bottom: 2rem;
  font-size: 6rem;
  text-align: center;
}

.intro-text p {
  font-size: 2.3rem;
  text-align: center;
  color: var(--azul-escuro);
} 

.intro-text button {
  background-color: var(--amarelo-escuro);
  color: var(--preto);
  border: none;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  cursor: pointer;  
  margin-top: 1.5rem;
  border-radius: 0.5rem ;
  margin-left: 34.5rem;
}

.intro-text button:hover {
  background-color: var(--laranja);
}

.card {
  background-color: var(--azul);
  color: var(--branco);
  padding: 2rem;
  border-radius: 10px;
  max-width: 40%;
  min-width: 280px;
  flex: 1;
  margin-bottom: 2rem;
}

.card li {
  color: var(--branco);
  font-size: 2.3rem;
  text-align: left;
  padding: 1rem;
  margin-left: 7.5rem;
  font-style: rubik;
}

.card h3 {
  margin-top: 0;
  font-size: 5rem;
  color: var(--amarelo);
  text-align: center;
}

.card ul {
  list-style: none;
  padding: 0;
}

.conteudos {  
  display: flex;                  
  justify-content: space-between; 
  align-items: flex-start;
  gap: 4rem;  
  padding: 4rem;
  margin-bottom: 4rem;
  color: var(--azul-escuro); 
  font-size: 2rem;
}

.conteudos h2 {
  color: var(--amarelo-escuro);
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: left;
}

.conteudos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteudos li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  color: var(--azul-escuro);
}

.conteudos li::before {
  content: "✔";
  color: var(--amarelo-escuro);
  font-weight: bold;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.modelos {
  background-color: var(--azul);
  color: var(--branco);
  padding: 2rem;  
  border-radius: 3rem;
  max-width: 100rem;
  text-align: center;
  height: 40rem;
  width: 70rem;
}

.modelos h3 {
  font-size: 3rem;
  color: var(--amarelo);
  margin-bottom: 2rem;
}

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linha img {
  width: 100%;
  height: auto;
  
}

.linha-modelos img {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.sobre {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.sobre-texto {
  max-width: 50%;
  min-width: 280px;
  flex: 1;
}

.sobre-texto p {
  font-size: 2.3rem;
  color: var(--azul-escuro);
}

.sobre h2 {
  color: var(--amarelo-escuro);
}

@media (max-width: 768px) {
  .intro, .sobre, .conteudos {
    flex-direction: column;
    text-align: center;
  }

  .intro-text, .sobre-texto, .card, .modelos {
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar nav {
    margin-top: 1rem;
  }

  .linha-modelos img {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .navbar {
    padding: 1rem 2rem;
  } 

  .intro, .conteudos, .sobre {
    padding: 2rem;
  }

  .linha-modelos img {
    max-width: 300px;
  }

  .logo img {
    max-width: 120px;
  }
}


