:root {
    --azul: #093B5E;
    --azul-claro: #1A5C8A;
    --azul-escuro: #06314E;
    --azul-meio: #083A55;
    --amarelo: #FFC72C;
    --amarelo-escuro: #FFB703;
    --laranja: #FB8500;
    --branco: #FFFFFF;
    --cinza-branco: #DAE2E7;
    --preto: #000000;
  }